/HW1.X/nbproject/private/
/HW1.X/build/default/
/HW1.X/dist/default/
/HW1/HW1code.X/build/default/
/HW1/HW1code.X/dist/default/
/HW4/HW4code.X/nbproject/private/
/HW4/HW4code.X/dist/default/
/HW5/HW5code.X/nbproject/private/
/HW6/HW6code.X/nbproject/private/
/HW5/HW5code.X/build/default/
/HW5/HW5code.X/dist/default/
/HW6/HW6code.X/build/default/
/HW6/HW6code.X/dist/default/